@charset "UTF-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: merriweather, serif;
}

h4 {
 font-family: proxima-nova, sans-serif;
 letter-spacing: 3px;
}

h2 {
 font-family: proxima-nova, sans-serif;
 letter-spacing: 1px;
}

.statement {
  font-family: merriweather, serif;
  font-size: 15px;
  padding: 0px;	
}
.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 250px;
  padding-left: 20px;	
}

/* Create three equal columns that sits next to each other */
.column {
  -ms-flex: 33.3334%; /* IE 10 */
  flex: 33.3334%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 20px;
  background-color: #fffff;
  overflow-x: hidden;
  font-family: merriweather, serif;
  font-size: 15px;
}


/* Side navigation links */
.sidenav a {
  color: black;
  padding: 0 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

.cv {
  margin-left: 250px;
  padding-left: 20px;
  font-size: 15px;
}

.about {
  margin-left: 180px;
  padding-left: 50px;
	margin-top: 15px;
}

#aboutme {
  float:left;
  display:flex;
    order: 2;
}



.figure {
	float:left;
}
